:root {
  position: relative;
  min-height: 100vh;
  font-family: "Alegreya", sans-serif;
  font-size: 20px;
  background-color: rgb(0, 0, 0);
}

:root::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("/assets/images/background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.7;
  filter: blur(3px);
  z-index: -1;
}

body {
  position: relative;
  z-index: 1;
  margin: 0;
}

#background {
  height: 99.270826vh;
  background-color: rgb(0 0 0 / 0.3);
  border: 2px solid;
  border-color: transparent black transparent transparent;
  width: 55px;
}

#column {
}

a {
  text-decoration: none;
  color: black;
}

.pages {
  color: white
}

.row {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}

#logoA {
  padding-top: 5px;
}

@font-face {
  font-family: "Alata";
  src: url('/assets/fonts/Alata/alata-regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Alegreya";
  src: url('/assets/fonts/Alegreya/AlegreyaSans-Regular.otf');
  font-style: normal;
  font-weight: 400;
}