:root {
  position: relative;
  min-height: 100vh;
  font-family: "Alegreya", sans-serif;
  font-size: 20px;
  background-color: rgb(0, 0, 0);
}

:root::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("/assets/images/background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.7;
  filter: blur(3px);
  z-index: -1;
}

body {
  position: relative;
  z-index: 1;
  margin: 0;
}

.app {
  display: flex;
}

.row {
  padding-bottom: 5px;
}

#background {
  height: 99.270826vh;
  background-color: rgb(0 0 0 / 0.3);
  border: 2px solid;
  border-color: transparent black transparent transparent;
  width: 55px;
  flex-shrink: 0;
}

.main {
  flex: 1;
  overflow: auto;
}

#column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5px;
}

.user {
  border: none;
  border-radius: 5px;
  background-color: gray;
  font-size: 15px;
  padding: 6px;
  color: white;
}

.text {
  background-color: grey;
  border: none;
  font-size: 15px;
  padding: 6px;
  border-radius: 5px;
  margin-left: 15px;
  margin-top: 15px;
  margin-right: 10px;
  color: white;
}

@font-face {
  font-family: "Alata";
  src: url('/assets/fonts/Alata/alata-regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Alegreya";
  src: url('/assets/fonts/Alegreya/AlegreyaSans-Regular.otf');
  font-style: normal;
  font-weight: 400;
}